﻿<div class="modal-header">
    <a href="{{ vm.event.eventUrl }}"><h3 class="modal-title">{{ vm.event.title }}</h3></a>
</div>
<div class="modal-body">
    <div>
        <pre ng-show="vm.event.imageUrl!=''"> <a href="{{ vm.event.eventUrl }}">
        <image ng-src="{{vm.event.imageUrl}}" style="width: 100%" ></image>
        </a></pre>
        <pre><b>starts at:</b> {{ vm.event.startsAtTxt }} UTC</pre>
        <pre ng-show="vm.event.endsAtTxt!=''"><b>ends at:</b> {{ vm.event.endsAtTxt }} UTC</pre>
        <div ng-bind-html="vm.event.summary | unsafe "></div>
        <span><b>location:</b> {{ vm.event.location }}</span>
        <p></p>
        <pre><a href="{{ vm.event.eventUrl }}">read more</a></pre>
</div>
</div>


<div class="modal-footer">

    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>